NET "switch" LOC = "Y3"  |IOSTANDARD = LVCMOS15 | pullup; # (/FPGA_Bank_0_3/SWITCH | Net-(R54-Pad2))
NET "led0"    LOC = "AA2" |IOSTANDARD = LVCMOS15; # (/FPGA_Bank_0_3/DEBUG_IO0)
# UART0
#NET "led1"    LOC = "T17" |IOSTANDARD = LVCMOS33; # CY_TXD1 - T17 - Cypress TXD0
NET "led2"    LOC = "P18" |IOSTANDARD = LVCMOS33; # CY_RXD1 - P18 - Cypress RXD0
# UART1
#NET "led2"    LOC = "P17" |IOSTANDARD = LVCMOS33;
#NET "led3"    LOC = "R17" |IOSTANDARD = LVCMOS33;